{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<h1>{{note.name}}</h1>
<p>
    {{forms.destroy_button("#{base_path}/note/#{note.id}/destroy")}}
    <!-- {{forms.edit_button("#{base_path}/note/#{note.id}/edit")}} -->
    <a class="btn btn-default" href="{{base_path}}/note/{{note.id}}/edit">Edit</a>
</p>
<ul>
    <li><strong>Priority:</strong> <label class="label label-danger">{{note.priority}}</label></li>
    <li><strong>Type:</strong>{{note.type}}</li>
    <li><strong>Added:</strong>{{note.added}}</li>
    <li><strong>State:</strong>
        {% if note.state %}
        <label class="label label-success">Done</label>
        {% else %}
        <label class="label label-danger">Undone</label>
        {% endif %}
    </li>
    <li><strong>Desciption:</strong></li>
    <label class="label label-info">{{note.description}}</label>
</ul>

{% endblock %}