{% extends "base.html" %}
{% block content %}
  <h1>Palautus</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
      <li><strong>Added:</strong> 13.9.2015</li>
      <li><strong>Priority:</strong> <label class="label label-danger">tärkein</label></li>
      <li><strong>Type:</strong> koulujutut</li>
      <li><strong>Status:</strong> 11.9.2015</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Tietokantasovelluksen toisen viikon palautus!
  </p>
{% endblock %}